<h1>Reviews</h1>

<ul>
    <%for(eachReview of review){%>
        
        <li><%= eachReview.show.title%></li>
        <img src=<%=eachReview.show.img%> alt=<%=eachReview.show.title%>>
        
        <ul>
            <li>Your Rating: <%= eachReview.rating%></li>
            <li>BingeWorthy: <%= eachReview.bingeworthy%></li>
            <li>Review: <%= eachReview.review%></li>
            <!-- nextflix user reviews -->
        </ul>
        <form action="/watchlist/review/edit/<%= eachReview.id%>" method="GET">
            <input type="hidden" name="title" value='<%= eachReview.show.title%>'>
            <input type="submit" value="Edit/Remove Review">
        </form>
        
    <%}%>
</ul>