<h2 class="list-titles">Your Watched And Reviewed List</h2>
<div class="row">
  <%if(review.length == 0){%>
    <div class="noShows">You haven't reviewed any shows yet!</div>
  <%}%>
    <%for(eachReview of review){%>
       
        <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src=<%=eachReview.show.img%> alt=<%=eachReview.show.title%>>
                <span class="card-title"><%= eachReview.show.title%></span>
              </div>
              <div class="card-content">
                <ul>
                    <li>Your Rating: <%= eachReview.rating%></li>
                    <% if(eachReview.bingeworthy){%>
                        <li class="binge">BingeWorthy: &#128525;</li>
                    <%}else{%>
                        <li class="binge">BingeWorthy: Meh</li>
                    <%}%>
                    <li>Review: <%= eachReview.review%></li>
                    <!-- nextflix user reviews -->
                </ul>
                <form action="/watchlist/review/edit/<%= eachReview.id%>" method="GET">
                    <input type="hidden" name="title" value='<%= eachReview.show.title%>'>
                    <input type="submit" value="Edit/Remove Review">
                </form>
    
    
                
              </div>
              
            </div>
          </div>
    <%}%>
    </div>