<%- include('../home.ejs')%>
<ul>
    <%for(thing of results){%>
        
        <li><%= thing.title%></li>
        <img src=<%=thing.img%> alt=<%=thing.title%>>
        <p><%= thing.synopsis%></p>
        <ul>
            <li>Type: <%= thing.vtype%></li>
            <li>Year: <%= thing.year%></li>
            <li>IMDB Rating: <%= thing.imdbrating%></li>
            <!-- nextflix user reviews -->
        </ul>
        <form action="/watchlist/review" method="GET">
            <input type="hidden" name="title" value='<%= thing.title%>'>
            <input type="hidden" name="img" value='<%=thing.img%>'>
            <input type="hidden" name="synopsis" value='<%= thing.synopsis%>'>
            <input type="hidden" name="vtype" value='<%=thing.vtype%>'>
            <input type="hidden" name="year" value='<%=thing.year%>'>
            <input type="hidden" name="imdbrating" value='<%=thing.imdbrating%>'>
            <input type="submit" value="Review it">
        </form>
    <%}%>
</ul>
