<%- include('home.ejs')%>
<% if(results !== undefined){%>
<ul>
    <%for(thing of results){%>
        
        <li><%= thing.title%></li>
        <img src=<%=thing.img%> alt=<%=thing.title%>>
        <p><%= thing.synopsis%></p>
        <ul>
            <li>Type: <%= thing.vtype%></li>
            <li>Year: <%= thing.year%></li>
            <% if(!thing.imdbrating){%>
                <% thing.imdbrating = "No Rating Available" %>
           <%  } %>
            <li>IMDB Rating: <%= thing.imdbrating%></li>
            <!-- nextflix user reviews -->
        </ul>
        <% let keys = Object.keys(thing)%>
        <% let values = Object.values(thing)%>
        <form action="/watchlist/new" method="POST">
            <%for(let i = 0; i < keys.length; i++){%>
                <input type="hidden" name=<%=keys[i]%> value='<%=values[i]%>'>
            <%}%>
            <input type="submit" value="Watchlist it">
        </form>
        
    <%}%>
</ul>
<%}else{%>
    <p>No Results Found</p>
<%}%>