<%- include('home.ejs')%>
<% if(results !== undefined){%>
    <div class="row">
    <%for(thing of results){%>
            <% thing.title = thing.title.replace(/&#39;/g, "'")%>
            <% thing.synopsis = thing.synopsis.replace(/&#39;/g, "'")%>
            <% let keys = Object.keys(thing)%>
            <% let values = Object.values(thing)%>
            

            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src=<%=thing.img%> alt=<%=thing.title%>>
                  <span class="card-title"><%= thing.title%></span>
                  <form action="/watchlist/new" method="POST" id="watchlistIt">
                    <%for(let i = 0; i < keys.length; i++){%>
                        <input type="hidden" name=<%=keys[i]%> value='<%=values[i]%>'>
                    <%}%>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" onclick="document.getElementById('watchlistIt').submit();"><i class="material-icons">add</i></a>
                </form>
                  
                </div>
                <div class="card-content">
                  <p><%= thing.synopsis%></p>
                  <ul>
                    <li>Type: <%= thing.vtype%></li>
                    <li>Year: <%= thing.year%></li>
                    <% if(!thing.imdbrating){%>
                        <% thing.imdbrating = "No Rating Available" %>
                <%  } %>
                    <li>IMDB Rating: <%= thing.imdbrating%></li>
                
                    </ul>
                </div>
              </div>
            </div>
        
    <%}%>
    </div>

<%}else{%>
    <p>No Results Found</p>
<%}%>